<my-loading ng-if="loading"></my-loading>

<div ng-if="!loading">
    <div>
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="raceschedule({year: 2015})">{{driversVm.drivers.season}}</a></li>
            <li class="active">Drivers</li>
        </ol>
    </div>

    <section>
        <div class="page-header">
            <h1>F1 {{driversVm.drivers.season}} Drivers</h1>
        </div>

        <div class="table">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Permanent Number</th>
                        <th>Name</th>
                        <th>Nationality</th>
                        <th>Date of Birth</th>
                        <th>Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="driver in driversVm.drivers.Drivers">
                        <td>{{driver.permanentNumber || ''}}</td>
                        <td><a ui-sref="driver({driverId: driver.driverId})">{{driver.givenName}} {{driver.familyName}}</a></td>
                        <td>{{driver.nationality}}</td>
                        <td>{{driver.dateOfBirth}}</td>
                        <td><a href="{{driver.url}}" target="_BLANK">Wikipedia</a></td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </section> 
</div>